.navbar-navbar {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  height: 4em;
  z-index: 100;
}

.navbar-logo {
  margin-left: 1em;
  height: 100%;
  transform: translateY(5%);
}

.navbar-nav-links {
  height: 100%;
  max-height: max-content;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.navbar-nav-links > li {
  font-size: 1.1em;
  margin: 0 1.5em;
}

.navbar-nav-links > li > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transform: scale(0.5);
  transition: 0.5s;
}

.navbar-nav-links > li > a:hover {
  color: #f8aa63;
}
