.navbar-navbar {
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  height: 4em;
  z-index: 100;
}

.navbar-navbar img {
  margin-left: 1em;
  height: 100%;
}

.navbar-nav-links {
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-nav-links li {
  list-style: none;
  display: inline;
  padding: 0.2em;
  margin: 1.3em;
  font-size: 1.1em;
}

.navbar-nav-links li a {
  text-decoration: none;
  color: rgb(243, 243, 243);
  transform: scale(0.5);
  transition: 0.5s;
}

.navbar-nav-links li a:hover {
  color: #f8aa63;
}
