.NavbarItems {
   /*
    current orange background: 
    background: linear-gradient(90deg, rgb(255, 207, 74), 0%, rgba(255, 207, 74) 100%);
    */
    background: linear-gradient(to bottom, rgb(168, 160, 150) 30%, rgb(170, 170, 161));
    
    height: 80px;
    display: flex;
    align-items: center;    
    font-size: 1.2rem;
}

.logo {
    padding-left: 25px;
}
.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 700vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #615f57;
    border-radius: 4px;
    transition: all 0.2s, ease-out;
}