.body {
  width: 100%;
  background-color: #f6f6f6;
}

.about-us {
  margin: 0 auto;
  padding-top: 2em;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.about-us img {
  width: 14em;
}

.about-us-text h1 {
  font-size: 2.5em;
  text-align: center;
}

.about-us-text p {
  font-size: 1.2em;
  text-align: center;
  color: #5b646d;
}

.content {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4em;
  padding-top: 1em;
  margin-bottom: 5em;
}

.content-item {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: space-between;
  border-bottom: 1px solid #9199c6;
}

.content-item div img {
  width: 25em;
}

.content-right {
  flex-direction: row;
}

.content-left {
  flex-direction: row-reverse;
}

#content-item-text {
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
}

footer {
  height: 4em;
  width: 100%;
  background-color: #a09e9d;
}

footer ul {
  padding-top: 1em;
}

footer li {
  display: inline;
  list-style: none;
  padding-right: 2em;
}
